
.BookItem{
    margin-bottom: 40px;
    width: 20%;
    
    .item{
        margin: 0px 10px;
        box-shadow: #624a4a59 0px 5px 15px;
        border-radius: 10px 60px 10px 60px;
        height: 100%;
        position: relative;

        .heart{
            position: absolute;
            right: -5px;
            top: -5px;
            font-size: 25px;
            color: rgb(40, 11, 147);
            cursor: pointer;
        }


        .title{
            margin: 10px 0;
            padding-top: 10px;
            text-align: center;
            font-weight: bold;
            height: 50px;
        }

        img{
            width: 90%;
            height: 300px;
            display: block;
            margin: 0 auto;
            transition: transform .4s;
            border-radius: 10px;

            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
        }
        
        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 20px;
            margin-bottom: 10px;

            button{
                width: 90px;
                padding: 10px 5px;
                border-radius: 10px;
                border-color: rgb(41, 55, 72);
                background-color: rgb(106, 103, 121);
                color: white;
                &:hover{
                    background-color: rgb(62, 59, 81);
                    cursor: pointer;
                }
            
            }


        }
    }
}


@media only screen and (max-width: 1260px){
    .BookItem{
        width: 25%;
    }
}

@media only screen and (max-width: 1060px){
    .BookItem{
        width: 33%;
    }
}

@media only screen and (max-width: 1060px){
    .BookItem{
        width: 50%;
    }
}

@media only screen and (max-width: 620px){
    .BookItem{
        width: 50%;
        .item{
            .title{
                font-size: 14px;
            }
            .buttons{
                margin-left: 10px;
                margin-right: 10px;
                button{
                    font-size: 12px;
                    padding: 8px 2px;
                }
            }
        }
    }
}


@media only screen and (max-width: 520px){
    .BookItem{
        width: 100%;
        .item{
            .title{
                font-size: 14px;
            }
            .buttons{
                margin-left: 10px;
                margin-right: 10px;
                button{
                    font-size: 12px;
                    padding: 8px 2px;
                }
            }
        }
    }
}