.top_popular{
    padding-top: 30px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: rgb(83, 42, 42);
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}
.ListByRating{
    display: flex;
    flex-wrap: wrap;

}