<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/7165423a-0646-41b9-8dee-0321d9582174/resourceGroups/Azure_sam/providers/Microsoft.Web/sites/samlibrary</ResourceId>
    <ResourceGroup>Azure_sam</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://samlibrary.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>03c1e687-d8f5-458d-b744-a0404ddf3275</ProjectGuid>
    <PublishUrl>https://samlibrary.scm.azurewebsites.net/</PublishUrl>
    <UserName>$samlibrary</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>